<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    <legend>{{ 'resetting.reset.form'|trans }}</legend>
    {{ form_widget(form, {'form_type': 'horizontal'} ) }}
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
