<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
    <legend>{{ 'change_password.form'|trans }}</legend>
    {{ form_widget(form, {'form_type': 'horizontal'} ) }}
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
