<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_registration_register">
    <legend>{{ 'registration.form'|trans }}</legend>
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
